@import "./resets";

// INSECTA PALETTE
$color-black: #1a1417;
$color-brown: #67413a;
$color-red: #af4b3b;
$color-orange: #c18549;
$color-white: #d9cbae;
$color-green: #8db35e;
$color-gray: #7c8381;
$color-blue: #384d64;

* {
	color: $color-white;
}

body {
	background-color: $color-black;
}

.hidden-container {
	display: none;
}

.invisible {
	opacity: 0;
	transition: opacity 0.3s;
}

.visible {
	opacity: 1;
}

div#app-main-container {
	width: 100%;
	max-width: 499px;
	min-height: 100vh;
	margin: 0px auto;
	box-shadow: 0px 0px 5px rgba($color-white, 0.1);
	background-color: $color-black;
}

header#main-header {
	padding: 1.5rem 0rem;
	margin-bottom: 2rem;
	// border-bottom: 2px solid $color-white;
	text-align: center;
	user-select: none;
	h2 {
		font-size: 3rem;
		text-decoration: underline;
	}
}

div#notes-list main#main-content {
	padding: 0rem 1.5rem;

	section.note {
		width: 100%;
		min-height: 9rem;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		margin-bottom: 2rem;
		border-radius: 4px;
		box-shadow: 0px 0px 5px rgba($color-white, 0.05);
		background-color: rgba($color-white, 0.1);
		cursor: pointer;
		user-select: none;
		transition: opacity 0.25s, box-shadow 0.15s;

		&:hover {
			box-shadow: 0px 0px 5px rgba($color-white, 0.4);
			opacity: 0.85;
		}

		&:active {
			opacity: 0.5;
		}

		div.note-title {
			align-self: start;
			font-size: 1.15rem;
			margin-bottom: 0.5rem;
		}

		div.note-preview {
			align-self: center;
			text-align: justify;
			font-size: 0.9rem;
			text-indent: 1rem;
			margin-bottom: 0.5rem;
		}

		div.note-date {
			align-self: end;
			font-size: 0.85rem;
		}

		div.note-title,
		div.note-preview,
		div.note-date {
			pointer-events: none; // NOTE: useful for the click event to work only on the notes container
		}
	}

	div.add-action {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 5rem;
		border-radius: 4px;
		border: 1px solid rgba($color-white, 0.2);
		box-shadow: 0px 0px 5px rgba($color-white, 0.05);
		background-color: rgba($color-white, 0.05);
		cursor: pointer;
		text-transform: uppercase;
		user-select: none;
		font-size: 2rem;
		transition: opacity 0.15s, box-shadow 0.15s;

		&:hover {
			box-shadow: 0px 0px 5px rgba($color-white, 0.4);
			opacity: 0.8;
		}

		&:active {
			opacity: 0.2;
		}
	}
}

div#note-view {
	// opacity: 0;
	// transition: opacity 0.25s;

	header#note-view-header {
		padding: 1rem;

		div {
			display: inline-block;
			cursor: pointer;
		}

		// Go Back indicator		
		div img {
			width: 3rem;
			height: 3rem;
			padding: 0.3rem;
			border-radius: 1.5rem;
			box-shadow: 0px 0px 5px rgba($color-white, 0.05);
			border: 1px solid rgba($color-white, 0.5);
			pointer-events: none;
			transition: opacity 0.25s, box-shadow 0.15s;

			&:hover {
				box-shadow: 0px 0px 5px rgba($color-white, 0.7);
				opacity: 0.7;
			}

			&:active {
				opacity: 0.5;
			}
		}
	}

	section#note-view-section {
		padding: 0rem 1rem;
		
		div.note-view-title {
			// padding: 1rem;
			margin-bottom: 2rem;
			display: flex;
			justify-content: center;
			align-items: center;

			h1 {
				text-transform: uppercase;
				font-size: 3rem;
			}
		}

		div.note-view-content {
			margin-bottom: 2rem;
			font-size: 1.25rem;
			text-align: justify;
		}

		div.note-date-created {
			font-size: 0.85rem;
		}
	}
}
