//
// 0.083333rem = 1px (for borders)
// 0.333rem = 4px (for border-radius)
//

@import "./resets";
@import "./global_variables";

* {
	color: $color-white;
}

body {
	background-color: $color-black;
}

.hidden-container {
	display: none;
}

.invisible {
	opacity: 0;
	transition: opacity 0.1s;
}

.visible {
	opacity: 1;
	transition: opacity 0.1s;
}

.off-screen-x-left {
	top: 50%;
	left: 50%;
	transform: translate(-1000%, -50%);
	transition: opacity 1s, transform 2s;
}

.off-screen-x-right {
	top: 50%;
	left: 50%;
	transform: translate(1000%, -50%);
	transition: opacity 1s, transform 2s;
}

.on-screen-x {
	transform: translate(-50%, -50%);
	transition: opacity 1s, transform 0.35s;
}

button,
.btn {
	padding: 1.25rem 2rem;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 1rem;
	border-radius: 0.333rem;
	transition: box-shadow 0.15s, opacity 0.085s, background-color 0.15s, border 0.15s, color 0.15s;
}

input,
textarea {
	width: 100%;
	max-width: 100%;
	min-height: 5rem;
	padding: 1rem;
	margin-bottom: 3rem;
	font-size: 1rem;
	background-color: $color-black;
	box-shadow: inset 0rem 0rem 0.833rem rgba($color-white, 0.3);
	border: none;
	border-radius: 0.333rem;
	outline: none;
	transition: box-shadow 0.25s;

	&:focus {
		box-shadow: inset 0rem 0rem 0.833rem rgba($color-white, 0.5);
	}
}

textarea {
	min-height: 55vh;
	resize: none;
}

div.btn-label {
	position: absolute;
	// width: 10rem;
	height: 2.25rem;
	display: flex;
	align-items: center;
	padding: 0.25rem;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%, -150%);
	text-transform: uppercase;
	font-size: 0.75rem;
	white-space: nowrap;
	border-radius: 0.333rem;
	border-bottom: 0.083333rem solid rgba($color-white, 0.5);
	opacity: 0.2;
	transition: opacity 0.15s;

	&:hover,
	&:active {
		opacity: 1;
		text-decoration: underline;
	}
}

div#app-main-container {
	width: 100%;
	min-width: $mobile-min-width;
	max-width: $mobile-max-width;
	min-height: 100vh;
	margin: 0rem auto;
	background-color: $color-black;

	div#modal-box-container {
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		top: 0rem;
		left: 0rem;
		z-index: 1000;
		user-select: none;
		background-color: rgba($color-black, 0.85);
		transition: opacity 0.15s;

		div.modal-box-section {
			position: absolute;
			top: 50%;
			left: 50%;
			min-width: 10rem;
			min-height: 5rem;
			transform: translate(-50%, -50%);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 2rem;
			border-radius: 0.333rem;
			background-color: rgba($color-black, 1);
			box-shadow: 0rem 0rem 0.666rem rgba($color-white, 0.3);
			transition: box-shadow 0.15s;

			&:hover {
				box-shadow: 0rem 0rem 1.25rem rgba($color-white, 0.5);
			}
		}

		div.modal-box-title-section {
			text-align: center;
			margin-bottom: 2.5rem;
			font-weight: bold;
		}

		div.modal-box-buttons-section {
			display: flex;
			justify-content: space-around;
			align-items: center;
			// width: 15rem;

			label#modal-box-import-data-btn,
			div#modal-box-export-data-btn,
			div#modal-box-close-btn {
				position: relative;
				width: 2rem;
				height: 2rem;
				padding: 2rem;
				border: 0.083333rem solid rgba($color-white, 0.5);
				border-radius: 50%;

				&:hover {
					box-shadow: inset 0rem 0rem 0.833rem rgba($color-white, 0.3);
				}

				&:active {
					box-shadow: inset 0rem 0rem 0.833rem rgba($color-white, 0.6);
				}

				div.btn-label {
					transform: translate(-50%, -115%);
				}

				&:hover div.btn-label {
					opacity: 1;
				}
			}

			div#modal-box-close-btn {
				background: url('../_icons/icon_close.png') no-repeat center/50% rgba($color-black, 0.85);
			}

			// NOTE: An interesting way to style file input (wrap it with a label with a for param)
			label#modal-box-import-data-btn {
				width: 2rem;
				height: 2rem;
				background: url('../_icons/icon_import.png') no-repeat center/40% rgba($color-black, 0.85);
				margin-right: 2rem;

				input#modal-box-import-data-input-btn {
					display: none;
				}
			}

			div#modal-box-export-data-btn {
				background: url('../_icons/icon_export.png') no-repeat center/40% rgba($color-black, 0.85);
				margin-right: 2rem;
			}

			div#modal-box-cancel-btn {
				margin-right: 1rem;
				border: 0.083333rem solid rgba($color-orange, 0.8);

				&:hover {
					color: $color-orange;
					border: 0.083333rem solid rgba($color-orange, 1);
					box-shadow: inset 0rem 0rem 0.833rem rgba($color-orange, 0.3);
				}
			}

			div#modal-box-confirm-btn {
				margin-left: 1rem;
				border: 0.083333rem solid rgba($color-green, 0.8);

				&:hover {
					color: $color-green;
					border: 0.083333rem solid rgba($color-green, 1);
					box-shadow: inset 0rem 0rem 0.833rem rgba($color-green, 0.3);
				}
				
			}
		}

	}

	div#modal-box-msg-container {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100vh;
		background-color: rgba($color-black, 0.85);
		z-index: 1000;
		user-select: none;

		div.modal-box-msg-section {
			position: absolute;
			min-width: 10rem;
			max-width: 75vw;
			min-height: 5rem;
			max-height: 50vh;
			padding: 2rem;
			background-color: rgba($color-black, 1);
			border-radius: 0.333rem;
		}
	}

	div.modal-box-msg-info {
		box-shadow: 0rem 0rem 2.833rem rgba($color-white, 0.5);
		border: 0.183333rem dashed rgba($color-white, 1);
	}

	div.modal-box-msg-success {
		box-shadow: 0rem 0rem 2.833rem rgba($color-green, 0.5);
		border: 0.183333rem dashed rgba($color-green, 1);
	}

	div.modal-box-msg-failure {
		box-shadow: 0rem 0rem 2.833rem rgba($color-red, 0.5);
		border: 0.183333rem dashed rgba($color-red, 1);
	}

	div#create-action,
	div#clear-action,
	div#backup-action {
		position: fixed;
		right: 1.5rem;
		width: 5rem;
		height: 5rem;
		padding: 1.5rem;
		border-radius: 2.5rem;
		border: 0.083333rem solid rgba($color-white, 0.2);
		box-shadow: rem rem 0.666rem rgba($color-white, 0.3);
		cursor: pointer;
		user-select: none;
		font-size: 2rem;
		transition: opacity 0.15s, box-shadow 0.15s;
		z-index: 100;

		&:hover {
			box-shadow: 0rem 0rem 1.25rem rgba($color-white, 0.8);
		}

		&:active {
			box-shadow: 0rem 0rem 2.5rem rgba($color-white, 1);
		}

		div.btn-label {
			// color: $color-red;
			opacity: 0.7;
			background-color: $color-black;
			font-weight: bold;
			padding: 0.50rem 0.3rem;
		}

		&:hover div.btn-label {
			opacity: 1;
			text-decoration: underline;
		}
	}

	div.author-label-container {
		position: fixed;
		bottom: 0.05rem;
		right: 0rem;
		text-align: center;
		opacity: 0.8;
		transition: opacity 0.15s;
		border-radius: 0.333rem;
		background-color: $color-black;
		padding: 0.5rem 1rem;

		&:hover,
		&:active {
			opacity: 1;
		}

		a {
			// padding: 0.8rem 0rem 0.8rem 0.9rem;
		}

		a,
		span {
			text-decoration: none;
			text-transform: uppercase;
			font-size: 0.7rem;

			span {
				text-decoration: underline;
			}
		}
	}

	div#create-action {
		bottom: 19.5rem;
		background: url('../_icons/icon_plus.png') no-repeat center/50% rgba($color-black, 0.85);
	}

	div#clear-action {
		bottom: 11.0rem;
		background: url('../_icons/icon_clear.png') no-repeat center/50% rgba($color-black, 0.85);
	}

	div#backup-action {
		bottom: 2.5rem;
		background: url('../_icons/icon_cloud.png') no-repeat center/50% rgba($color-black, 0.85);
	}
}

header#main-header {
	padding: 1rem 0rem;
	text-align: center;
	user-select: none;
}

div#notes-list main#main-content {
	padding: 1rem 1.5rem 17rem;

	section.note {
		width: 100%;
		min-height: 9rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1rem;
		margin-bottom: 2rem;
		border-radius: 0.333rem;
		box-shadow: 0rem 0rem 0.4166rem rgba($color-white, 0.05);
		background-color: rgba($color-white, 0.1);
		cursor: pointer;
		user-select: none;
		transition: opacity 0.25s, box-shadow 0.15s;

		&:hover {
			box-shadow: 0rem 0rem 0.4166rem rgba($color-white, 0.4);
			opacity: 0.85;
		}

		&:active {
			opacity: 0.5;
		}

		div.note-title {
			align-self: start;
			font-size: 1rem;
			margin-bottom: 0.5rem;
			text-transform: uppercase;
		}

		div.note-preview {
			align-self: center;
			text-align: justify;
			font-size: 0.9rem;
			text-indent: 1rem;
			margin-bottom: 0.5rem;
		}

		div.note-date {
			align-self: end;
			font-size: 0.85rem;
		}

		div.note-title,
		div.note-preview,
		div.note-date {
			pointer-events: none; // NOTE: useful for the click event to work only on the notes container
		}
	}

}

div#note-view {
	padding-bottom: 5rem;

	header#note-view-header {
		position: fixed;
		max-width: $mobile-max-width;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		user-select: none;
		background-color: rgba($color-black, 0.95);

		div.note-view-go-back-action,
		div.note-view-edit-action,
		div.note-view-delete-action {
			position: relative;
			width: 4rem;
			height: 4rem;
			padding: 0.65rem;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			z-index: 10;
			border-radius: 50%;
			border: 0.083333rem solid rgba($color-white, 0.5);
			box-shadow: 0rem 0rem 1.4166rem rgba($color-white, 0.05);
			transition: opacity 0.25s, box-shadow 0.15s;

			& img {
				width: 2rem;
				height: 2rem;
			}

			&:hover {
				box-shadow: 0rem 0rem 1.4166rem rgba($color-white, 0.7);
			}

			&:hover,
			&:active {
				div.btn-label {
					opacity: 1;
				}
			}

			& div.btn-label {
				bottom: 50%;
				left: 50%;
				transform: translate(-50%, 220%);
				opacity: 0.5;
			}
		}

		div.btn-label {
			bottom: 0rem;
			left: 0rem;
		}

		// Go Back img indicator 
		div img {
			pointer-events: none;
		}
	}

	section#note-view-section {
		padding: 8.5rem 1rem 0rem;
		
		div.note-view-title {
			margin-bottom: 2rem;
			display: flex;
			justify-content: center;
			align-items: center;

			h2 {
				text-transform: uppercase;
				font-size: 2rem;
				text-indent: justify-content;
			}

			input {
				margin-bottom: 0rem;
			}
		}

		div.note-view-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 2rem;
			font-size: 1.25rem;

			textarea {
				margin-bottom: 2rem;
			}

			div.note-editing-buttons-container {
				width: 100%;
				display: flex;
				justify-content: space-around;
				
				button {
					padding: 1.25rem 2rem;
					background-color: $color-black;
				}

				button#cancel-note-editing-btn {
					border: 0.083333rem solid rgba($color-orange, 0.8);

					&:hover {
						color: $color-orange;
						border: 0.083333rem solid rgba($color-orange, 0.5);
						box-shadow: inset 0rem 0rem 0.8333rem rgba($color-orange, 0.3);
					}

					&:active {
						box-shadow: inset 0rem 0rem 0.8333rem rgba($color-orange, 1);
					}
				}

				button#confirm-note-editing-btn {
					border: 0.083333rem solid rgba($color-green, 0.8);

					&:hover {
						color: $color-orange;
						border: 0.083333rem solid rgba($color-green, 0.5);
						box-shadow: inset 0rem 0rem 0.8333rem rgba($color-green, 0.3);
					}

					&:active {
						box-shadow: inset 0rem 0rem 0.8333rem rgba($color-green, 1);
					}
				}
			}
		}

		div.note-date-created {
			font-size: 0.85rem;
		}
	}
}

div#note-creation {
	padding: 1rem;
	user-select: none;

	div.confirmation-buttons {
		width: 100%;
		display: flex;
		justify-content: space-between;

		button {
			padding: 1.25rem 2rem;
			color: $color-black;
			font-weight: bold;
			border: 0.083333rem solid rgba($color-white, 0.095);
			transition: box-shadow 0.15s, opacity 0.085s, background-color 0.15s, border 0.15s, color 0.15s;
		}

		div.cancel-btn button {
			background-color: $color-orange;

			&:hover {
				color: $color-orange;
				border: 0.083333rem solid rgba($color-orange, 0.5);
				box-shadow: inset 0rem 0rem 0.8333rem rgba($color-orange, 0.3);
				background-color: $color-black;
			}

			&:active {
				box-shadow: inset 0rem 0rem 0.8333rem rgba($color-orange, 1);
			}
		}

		div.create-btn button {
			background-color: $color-green;

			&:hover {
				color: $color-green;
				border: 0.083333rem solid rgba($color-green, 0.5);
				box-shadow: inset 0rem 0rem 0.8333rem rgba($color-green, 0.3);
				background-color: $color-black;
			}

			&:active {
				box-shadow: inset 0rem 0rem 0.8333rem rgba($color-green, 1);
			}
		}

		button:hover {
			opacity: 0.8;
		}

		button:active {
			opacity: 0.2;
		}
	}
}
