//
// TODO: model box (cancel / confirm)
// TODO: hover text labels on buttons
// TODO: 
//

@import "./resets";
@import "./global_variables";

* {
	color: $color-white;
}

body {
	background-color: $color-black;
}

.hidden-container {
	display: none;
}

.invisible {
	opacity: 0;
	transition: opacity 0.1s;
}

.visible {
	opacity: 1;
	transition: opacity 0.1s;
}

div#app-main-container {
	position: relative;
	width: 100%;
	min-width: $mobile-min-width;
	max-width: $mobile-max-width;
	min-height: 100vh;
	// max-height: 100vh;
	margin: 0px auto;
	background-color: $color-black;

	div#modal-box-container {
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		top: 0px;
		display: none;
		z-index: 1000;
		background-color: rgba(0, 0, 0, 0.5);
	}

	div#add-action,
	div#clear-action,
	div#backup-action {
		position: fixed;
		right: 1.5rem;
		// transform: translate(50%, 0px);
		width: 5rem;
		height: 5rem;
		padding: 1.5rem;
		border-radius: 2.5rem;
		border: 1px solid rgba($color-white, 0.2);
		box-shadow: 0px 0px 8px rgba($color-white, 0.3);
		cursor: pointer;
		user-select: none;
		font-size: 2rem;
		transition: opacity 0.15s, box-shadow 0.15s;
		z-index: 100;

		&:hover {
			box-shadow: 0px 0px 15px rgba($color-white, 0.8);
			// opacity: 0.8;
		}

		&:active {
			box-shadow: 0px 0px 30px rgba($color-white, 1);
			// opacity: 0.2;
		}
	}

	div#add-action {
		bottom: 13rem;
		background: url('../_icons/icon_plus.png') no-repeat center/50% rgba($color-black, 1);
	}

	div#clear-action {
		bottom: 7rem;
		background: url('../_icons/icon_clear.png') no-repeat center/50% rgba($color-black, 1);
	}

	div#backup-action {
		bottom: 1rem;
		background: url('../_icons/icon_cloud.png') no-repeat center/50% rgba($color-black, 1);
	}
}

header#main-header {
	padding: 1rem 0rem;
	text-align: center;
	user-select: none;
}

div#notes-list main#main-content {
	padding: 1rem 1.5rem 0rem;

	section.note {
		width: 100%;
		min-height: 9rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1rem;
		margin-bottom: 2rem;
		border-radius: 4px;
		box-shadow: 0px 0px 5px rgba($color-white, 0.05);
		background-color: rgba($color-white, 0.1);
		cursor: pointer;
		user-select: none;
		transition: opacity 0.25s, box-shadow 0.15s;

		&:hover {
			box-shadow: 0px 0px 5px rgba($color-white, 0.4);
			opacity: 0.85;
		}

		&:active {
			opacity: 0.5;
		}

		div.note-title {
			align-self: start;
			font-size: 1rem;
			margin-bottom: 0.5rem;
			text-transform: uppercase;
		}

		div.note-preview {
			align-self: center;
			text-align: justify;
			font-size: 0.9rem;
			text-indent: 1rem;
			margin-bottom: 0.5rem;
		}

		div.note-date {
			align-self: end;
			font-size: 0.85rem;
		}

		div.note-title,
		div.note-preview,
		div.note-date {
			pointer-events: none; // NOTE: useful for the click event to work only on the notes container
		}
	}

}

div#note-view {
	padding-bottom: 5rem;

	header#note-view-header {
		position: fixed;
		max-width: $mobile-max-width;
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 1rem;
		user-select: none;
		background-color: rgba($color-black, 0.95);

		div {
			display: inline-block;
			cursor: pointer;
			z-index: 10;
			width: 3rem;
			height: 3rem;
			padding: 0.65rem;
			border-radius: 1.5rem;
			border: 1px solid rgba($color-white, 0.5);
			box-shadow: 0px 0px 5px rgba($color-white, 0.05);
			transition: opacity 0.25s, box-shadow 0.15s;

			&:hover {
				box-shadow: 0px 0px 5px rgba($color-white, 0.7);
				opacity: 0.7;
			}

			&:active {
				opacity: 0.5;
			}
		}

		// Go Back img indicator 
		div img {
			pointer-events: none;
		}
	}

	section#note-view-section {
		padding: 5rem 1rem 0rem;
		
		div.note-view-title {
			margin-bottom: 2rem;
			display: flex;
			justify-content: center;
			align-items: center;

			h2 {
				text-transform: uppercase;
				font-size: 2rem;
				text-indent: justify-content;
			}
		}

		div.note-view-content {
			margin-bottom: 2rem;
			font-size: 1.25rem;
		}

		div.note-date-created {
			font-size: 0.85rem;
		}
	}
}

div#note-creation {
	padding: 1rem;
	user-select: none;

	input,
	textarea {
		width: 100%;
		max-width: 100%;
		min-height: 5rem;
		padding: 1rem;
		margin-bottom: 3rem;
		background-color: $color-black;
		box-shadow: inset 0px 0px 5px rgba($color-white, 0.3);
		border: none;
		border-radius: 4px;
		outline: none;
		transition: box-shadow 0.25s;

		&:focus {
			box-shadow: inset 0px 0px 10px rgba($color-white, 0.5);
		}
	}

	textarea {
		min-height: 55vh;
		resize: none;
	}

	div.confirmation-buttons {
		width: 100%;
		display: flex;
		justify-content: space-between;


		button {
			text-transform: uppercase;
			padding: 1.25rem 2rem;
			border: none;
			color: $color-black;
			font-weight: bold;
			border-radius: 4px;
			border: 1px solid rgba($color-white, 0.095);
			cursor: pointer;
			opacity: 0.8;
			transition: box-shadow 0.15s, opacity 0.085s, background-color 0.15s, border 0.15s, color 0.15s;
		}

		div.cancel-btn button {
			background-color: $color-orange;

			&:hover {
				color: $color-orange;
				border: 1px solid rgba($color-orange, 0.5);
				box-shadow: inset 0px 0px 10px rgba($color-orange, 0.3);
				background-color: $color-black;
			}

			&:active {
				box-shadow: inset 0px 0px 10px rgba($color-orange, 1);
			}
		}

		div.create-btn button {
			background-color: $color-green;

			&:hover {
				color: $color-green;
				border: 1px solid rgba($color-green, 0.5);
				box-shadow: inset 0px 0px 10px rgba($color-green, 0.3);
				background-color: $color-black;
			}

			&:active {
				box-shadow: inset 0px 0px 10px rgba($color-green, 1);
			}
		}

		button:hover {
			opacity: 0.8;
		}

		button:active {
			opacity: 0.2;
		}
	}
}
