// INSECTA PALETTE
$color-black: #1a1417;
$color-brown: #67413a;
$color-red: #af4b3b;
$color-orange: #c18549;
$color-white: #d9cbae;
$color-green: #8db35e;
$color-gray: #7c8381;
$color-blue: #384d64;

$mobile-min-width: 265px;
$mobile-max-width: 499px;

$tablet-min-width: 768px;
$tablet-max-width: 899px;

$desktop-min-width: 900px;
$desktop-720p-width: 1280px;
$desktop-1080p-width: 1920px;
