@import "./global_variables";

@media only screen and (min-width: $tablet-min-width) {
	
	div#app-main-container {
		min-width: $tablet-min-width - 100px;
		max-width: $tablet-min-width;
	}

	div#notes-list main#main-content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 2rem;
	}

	div#note-view {
		header#note-view-header {
			max-width: $tablet-min-width;
		}

	}

	div#note-creation {
		max-width: $tablet-min-width - 100px;
		margin: 0rem auto;

		input,
		textarea {
			font-size: 1.25rem;
		}
	}
}
